#choose {
	background-color: green;
	color: white;
	width: 140px;
	text-align: center;
	max-height: 100px;
	border-radius: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 17px;
	margin: auto;
	margin-top: 35px;
	cursor: pointer;
}

#create {
	background-color: blue;
	color: white;
	width: 140px;
	text-align: center;
	max-height: 100px;
	border-radius: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 17px;
	margin: auto;
	margin-top: 5px;
	cursor: pointer;
}